.contact-sections {
  padding: 100px 0;
  background-color: rgba(240, 243, 249, 1);
  text-align: center;
  margin-bottom: -40PX;
}

.contact-button-container {
  margin-top: 40px; 

  
}
.section-title{
  color:rgb(40, 36, 36);
  font-family: "Zain", sans-serif;
  font-size: 54px;
}
.section-subtitle{
  color:rgba(133, 34, 0, 1);
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
}
.section-description {
  color: #201d1de7;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  margin-top: 16px;
}

@media (max-width: 1024px) {
  .contact-sections {
  padding: 20px 0px;
  margin-bottom: -40PX; 
}
@media (max-width: 1024px) {
  .contact-sections {
    padding: 60px 20px;
  }
}
}

@media (max-width: 480px) {
.contact-sections {
  padding: 60px 0px 30px 20px;
  margin-right: -29px;
  margin-bottom: -40PX; 
}
.section-title {
  font-size: 36px;
  width: 87%;
}
.section-subtitle {
  font-size: 14px;
  width: 87%;
}
.section-description {
  font-size: 14px;
  width: 87%;
    margin-right: 90px;
}
.contact-button-container {
  margin-right: 60px; 

  
}

}


